<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Wit.ai-Facebook-Connector</h1>
    <p>Connects a Facebook App to Wit.ai in order to create a Chatbot</p>
  </div>
</div>

</body>
</html>
